<mat-form-field class="formFieldClass">
  <mat-label>Search for Images</mat-label>
  <input matInput type="text" [(ngModel)]="searchQuery">
  <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchImages(searchQuery)" class="searchButton">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<div *ngIf="searching">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>

<md-card>
  <h4 *ngIf="imagesFound" md-subeader></h4>
  <ngx-masonry [useImagesLoaded]="true">
    <div ngxMasonryItem class="masonry-item image-container" *ngFor="let image of images" >
      <md-card>
        <a href="{{ image.pageURL }}" target="_bank">
          <md-card-header>
            <div class="avatar" md-card-avatar [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'30px 30px'}"></div>          
          </md-card-header>
          <img md-card-image src="{{image.webformatURL}}">         
        </a>
      </md-card>
      <br><br>
      <br><br>
    </div>
  </ngx-masonry>
</md-card>